@CHARSET "UTF-8";

@media screen and (min-width: 993px) {
	body {
	    background: #fdf7f0 url('../img/bg.png') repeat-x center 0;
	}
	
	.container {
	    background: url('../img/gorabg.png') no-repeat center 0;
	}
	
	.header {
	    min-height: 169px;
	}
	
	.header img {
	    margin-top: 30px;
	}
	
    /* TopMenu */
    .top-menu {
        height: 30px !important;
        min-height: 30px !important;
        border: 0;
        background: url('img/gradient-topmenu.png') repeat 0 0;
        margin-top: 90px;
        padding: 1px 3px;
        box-shadow: none;
    }
    
    .top-menu .navbar-nav {
        margin: 0 auto;
    }
    
    .top-menu .navbar-nav a {
        border-left: 1px solid #700;
        border-right: 1px solid #800;
        padding: 4px 19px 5px 19px;
    }
    
    .top-menu li:first-child a {
        border-left: 0;
    }
    
    .top-menu li:last-child a {
        border-right: 0;
    }
    
    .top-menu .navbar-nav a:link, .top-menu .navbar-nav a:visited {
        color: #fff;
    }
    
    .top-menu .navbar-nav a:hover {
        color: #fff !important;
    }
    
    .navbar-nav .open .dropdown-toggle {
        border-right: 1px solid #800 !important;
        background: none !important;
        color: #fff !important;
        box-shadow: none !important;
    }
    
    /* SubMenu */
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
        margin-top: 5px;
    }
    
    .dropdown-menu {
        border-radius: 0;
        background: #ab977e;
    }
    
    .dropdown-menu a:link, .dropdown-menu a:hover {
        border-top: 1px solid #b5a48e;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #96856f;
        background: 0;
    }
    
    .dropdown-menu li:first-child a {
        border-top: 0;
    }
    
    .dropdown-menu li:last-child a {
        border-bottom: 0;
    }
    
    .dropdown-menu a:hover {
        background: none !important;
    }

	/* Content */
	.content {
	    border-radius: 13px;
	    border: 1px solid #f3ece4;
	    background: #fff;
	    text-align: justify;
	    margin-bottom: 100px;
	    padding: 5px 10px 20px 10px;
	} 
    
    /* Left Menu */
    .left-menu a {
        border-radius: 0 !important;
        border-top :1px solid #6f2526;
        border-bottom: 1px solid #5a0c0d;
        color: #fff;
        font-size: 12pt;
        text-align: center;
        margin: 0 !important;
    }

    .dropdown-header {
        color: #fff;
        font-size: 14pt;
        text-align: center;
        padding: 10px;
    }
}